
.commentarea {
    background: #fff;
}

/* panestack title
--------------------------------------------------------------------------------*/
.panestack-title {
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    border-top: 1px solid rgba(0,0,0,0.06);
    height: 34px;
    display: flex;
    align-items: center;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding-left: 10px;
}

.panestack-title .title {
    margin-right: 10px;
}

.mod-toolbox .tb-loadFlat.tb-general-button {
    color: #4db5e0;
    background-color: transparent;
    border: 0;
    font-size: 13px;
}

.res #REScommentSubToggle.RESSubscriptionButton {
    color: #9dd320;
    border: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.RESSubscriptionButton .res-icon {
    margin-right: 5px;
}

/* menu area
--------------------------------------------------------------------------------*/

.commentarea > .menuarea {
    margin: 0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    background: #F3F6FB;
    padding: 10px;
}

.menuarea > .spacer {
    margin-bottom: 8px;
}

.commentarea > .menuarea .dropdown.lightdrop .selected {
    color: #4db5e0;
    text-decoration: none;
    background-image: none;
    display: inline-flex;
    align-items: center;
}

.commentarea > .menuarea .dropdown.lightdrop .selected:after {
    content: '∨';
    font-size: 9px;
    margin-left: 3px
}

.commentarea .menuarea .toggle a {
    font-size: 12px;
}

.res #REScommentNavToggle {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.res #REScommentNavToggle > div {
    border: 0;
    font-weight: normal;
    font-size: 14px;
    padding: 2px;
    margin-left: 4px;
    color: rgba(0,0,0,0.4);
}
.res #REScommentNavToggle > div:hover {
    color: rgba(0,0,0,0.6);
}

/* comment visits box
--------------------------------------------------------------------------------*/

select#comment-visits {
    background: rgba(255,255,255,0.6);
    border: 0;
    padding: 2px;
    margin-left: 2px;
}

.mod-toolbox .comment-visits-box a.tb-hide-old.tb-general-button {
    background: transparent;
    border: 0;
}

.gold-accent.comment-visits-box {
    border: 0;
    background: #fbefb9;
}