
/* comments sitetable
--------------------------------------------------------------------------------*/

.commentarea > .sitetable {
    border-top: 1px solid #e3e3e3;
}

/* comment left stripe
--------------------------------------------------------------------------------*/

.commentarea > .sitetable > .comment:before,
.comment-permalink-page.comments-page .commentarea > .infobar:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    background: #9edcf7;
    opacity: 0.8;
}

/* stickied-comment left stripe */
.commentarea > .sitetable > .comment.stickied:before {
    background: #71E096;
}

/* spam-comment left stripe */
.commentarea > .sitetable > .comment.spam:before {
    background: #FF8B94;
}

/* single comment thread left stripe */
.comment-permalink-page .commentarea > .sitetable > .comment:before,
.comment-permalink-page.comments-page .commentarea>.infobar:before {
    background: #FFDC89;
}

/* comments
--------------------------------------------------------------------------------*/

.comment {
    border-radius: 3px;
    margin: 0;
    padding: 10px 0 0 10px;
}
.comment .child, .new-comment .usertext-body {
    border: 0;
}

.comment + .clearleft + .comment {
    margin-top: 5px;
}

.commentarea > .sitetable > .comment {
    border: 1px solid #e3e3e3;
    padding-left: 15px;
    border-radius: 0;
}

.res.res-commentBoxes .comment {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* comment expando button
--------------------------------------------------------------------------------*/
.comment .expando-button {
    transform: scale(0.9);
    margin: -3px 5px -1px 0 !important;
}

/* comments - tagline
--------------------------------------------------------------------------------*/
.comment .tagline {
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.2px;
}

/* comments - flat list buttons
--------------------------------------------------------------------------------*/
.comment .buttons {
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 11px;
    padding-left: 30px; /* padding for extra reply "button" */
}
/* /r/aww/comments page */
.listing-page .comment .buttons {
    padding-left: 0;
}

.comment .entry .buttons li a {
    font-weight: normal;
}

/* extra reply "button" */
.comment .entry .buttons li.reply-button a:before,
.comment .entry .buttons li a[onclick*="return reply"]:before {
    content: 'reply';
    position: absolute;
    left: 0;
    color: #4db5e0;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.25px
}
.comment .entry .buttons li.reply-button a:hover:before,
.comment .entry .buttons li a[onclick*="return reply"]:hover:before {
    text-decoration: underline;
}

.archived-infobar ~ .commentarea .comment .buttons,
body:not(.moderator) .locked-infobar ~ .commentarea .comment .buttons {
    padding-left: 0;
}

body:not(.moderator) .locked-infobar ~ .commentarea .comment .buttons .reply-button {
    display: none;
}

/* comments - single thread infobar
--------------------------------------------------------------------------------*/
.comment-permalink-page.comments-page .commentarea > .infobar {
    margin: 0 0px -1px 0px;
    border: 0;
    padding: 10px;
    padding-left: 20px;
    font-family: Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-size: 14px;
    position: relative;
    background: #ffc;
    border: 1px solid #e3e3e3;
}

/* comments - alternating bg color
--------------------------------------------------------------------------------*/
.commentarea .comment .comment,
.commentarea .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment
{
    background: #F4F8FF;
}

.commentarea .comment,
.commentarea .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment
{
    background-color: #fff;
}