
/* comments sitetable
--------------------------------------------------------------------------------*/

.commentarea > .sitetable {
    border-top: 1px solid #e3e3e3;
}

/* comment left stripe
--------------------------------------------------------------------------------*/

.sitetable > .comment:before,
.comment-permalink-page.comments-page .commentarea > .infobar:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    background: #c7e2e0;
    opacity: 0.8;
}

/* stickied-comment left stripe */
.sitetable > .comment.stickied:before {
    background: #71E096;
}

/* spam-comment left stripe */
.sitetable > .comment.spam:before {
    background: #FF8B94;
}

/* single comment thread left stripe */
.comment-permalink-page .sitetable > .comment:before,
.comment-permalink-page.comments-page .commentarea>.infobar:before {
    background: #FFDC89;
}

/* comments
--------------------------------------------------------------------------------*/

.comment {
    border-radius: 3px;
    margin: 0;
    padding: 10px 0 0 10px;
}
.comment .child, .new-comment .usertext-body {
    border: 0;
}

.comment .child, .comment .showreplies {
    margin-left: 0;
    padding-left: 15px;
    box-sizing: border-box;
}

.comment + .clearleft + .comment {
    margin-top: 5px;
}

.sitetable > .comment {
    border: 1px solid #e3e3e3;
    padding-left: 15px;
    border-radius: 0;
}

.res.res-commentBoxes .comment {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.res.res-commentBoxes .sitetable > .comment {
    padding: 10px 0 0 15px !important;
}
.res.res-commentBoxes .sitetable > .comment .comment {
    padding: 10px 0 0 10px !important;
}

/* feature=seo_comments_page
--------------------------------------------------------------------------------*/
.commentarea > .spacer > #siteTable {
    margin: 0;
}

h1.seo-comments {
    border: 1px solid #e2e2e2;
    background: white;
    margin: 15px 0 0;
    padding: 8px 10px;
    font-weight: normal;
}

.commentarea > .spacer > #siteTable .link {
    border-top: 0;
}

#bottom-comments h1.seo-comments {
    border-bottom: 0;
}

.commentarea > .seo-comments.spacer {
    margin-top: 10px;
    background: rgba(0,0,0,0.05);
    border-radius: 3px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 10px;
}

/* comment expando button
--------------------------------------------------------------------------------*/
.comment .expando-button {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    margin: -3px 5px -1px 0 !important;
}

/* comments - tagline
--------------------------------------------------------------------------------*/
.comment .tagline {
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.2px;
}

/* comments - flat list buttons
--------------------------------------------------------------------------------*/
.comment .buttons {
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
    font-size: 11px;
}

.comment .entry .buttons li a {
    font-weight: normal;
}

/* extra reply "button" */
.comment .entry .buttons .reply-button a {
    color: #4db5e0;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.25px
}

/* comments - single thread infobar
--------------------------------------------------------------------------------*/
.comment-permalink-page.comments-page .commentarea > .infobar {
    margin: 0 0px -1px 0px;
    border: 0;
    padding: 10px;
    padding-left: 20px;
    font-family: Calibri,Segoe,"Segoe UI",Verdana,Arial,sans-serif;
    font-size: 14px;
    position: relative;
    background: #ffc;
    border: 1px solid #e3e3e3;
}

/* comments - alternating bg color
--------------------------------------------------------------------------------*/
.commentarea .comment .comment,
.commentarea .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment
{
    background-color: #f9f9f7 !important;
}

.commentarea .comment,
.commentarea .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment
{
    background-color: #fff !important;
}