body > .debuginfo:before {
    content: 'css by /u/kwwxis';
    float: left;
    color: rgba(0,0,0,0.35);
    padding-left: 5px;
}

body {
    background: #F9FAFB;
}

#siteTable, .commentarea {
    border-left: 1px solid #fdfdfd;
}

#siteTable, #siteTable_organic {
    margin: 10px 0 0 10px;
}
.commentarea {
    margin-left: 10px;
}

.content[role=main] {
    margin-right: 323px;
}