body > .debuginfo:before {
    content: 'css by /u/kwwxis';
    float: left;
    color: rgba(0,0,0,0.35);
    padding-left: 5px;
}

body {
    /* background: #F5F6F7; */
    background: #FCFCF9;
    min-width: 780px; /* body min width */
}

@media (max-width: 780px) {
    body {
        overflow-x: auto !important;
    }
}

#siteTable, #siteTable_organic {
    margin: 10px 0 0 10px;
}
.commentarea,
.reddit-infobar,
.reddit-infobar.with-icon {
    margin-left: 10px;
}

.content[role=main] {
    margin-right: 323px;
    position: relative;
    z-index: 5; /* position above .side */
}

/* if both RES and Mod Toolbox, position main content above .side and #header
   so that queue tools can be above both */
.res.mod-toolbox .content[role=main] {
    z-index: 100;
}

/* a cool "flair" for myself because I think I'm cool */

.author[href$="/user/kwwxis"]:after, .author[href$="/user/kwwxis/"]:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(%%spritesheet%%);
    background-position: -111px -272px;
    margin-bottom: -4px;
    margin-left: 1px;
    -webkit-transform: scale(0.7) rotateZ(0deg);
    transform: scale(0.7) rotateZ(0deg);
    transition: transform 400ms ease;
}
.author[href$="/user/kwwxis"]:hover:after, .author[href$="/user/kwwxis/"]:hover:after {
    -webkit-transform: scale(0.7) rotateZ(360deg);
    transform: scale(0.7) rotateZ(360deg);
}