body > .debuginfo:before {
    content: 'css by /u/kwwxis';
    float: left;
    color: rgba(0,0,0,0.35);
    padding-left: 5px;
}

body {
    /* background: #F5F6F7; */
    background: #FCFCF9;
    min-width: 780px; /* body min width */
}

@media (max-width: 780px) {
    body {
        overflow-x: auto !important;
    }
}

#siteTable, #siteTable_organic {
    margin: 0 0 0 10px;
}
.commentarea,
.reddit-infobar,
.reddit-infobar.with-icon {
    margin-left: 10px;
}

.content[role=main] {
    margin-right: 323px;
    position: relative;
    z-index: 5; /* position above .side */
    margin-top: 10px;
}

/* ad space
--------------------------------------------------------------------------------*/
.content > .spacer > #siteTable_organic.organic-listing {
    background: white !important;
    box-shadow: 0 1px 5px rgba(0,0,0,0.16);
    border: 0;
    opacity: 1;
    border-bottom: 1px solid rgba(0,0,0,0.085);
}

/* if both RES and Mod Toolbox, position main content above .side and #header
   so that queue tools can be above both
--------------------------------------------------------------------------------*/
.res.mod-toolbox .content[role=main] {
    z-index: 100;
}