
/* Header
--------------------------------------------------------------------------------*/

#header {
    position: relative;
    background: transparent;
    border-bottom: 0;
}

#header-bottom-left {
    position: relative;
    min-height: 100px; /* height between tabmenu and sr header area */
    padding-bottom: 29px; /* bottom padding because tabmenu is absolute
                             tabmenu height (24px) + tabmenu top margin (5px) */
}

/* Snoo
--------------------------------------------------------------------------------*/

#header-img-a {
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: 0;
    margin-left: 12px;
    bottom: 3px;
}

#header-img-a:before {
    content: '';
    display: block;
    background: #fcfcfc;
    z-index: 16;
    position: absolute;
    width: 75px;
    height: 75px;
    left: -2px;
    bottom: 0px;
    border-radius: 50%;
    
    display: none;
}

#header-img-a:after {
    content: '';
    display: block;
    position: absolute;
    width: 69px;
    height: 69px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 3px;
    border-radius: 50%;
    background: #a7dbd8 url(%%snoo%%) no-repeat center center / 90%;
    transition: background-color 100ms;
    z-index: 25;
    border: 1px solid #fff;
}

#header-img-a:hover:after {
    background-color: #A5D1CB;
}

#header-img, #header-img.default-header {
    display: none !important;
}

/* Header BG
--------------------------------------------------------------------------------*/
body #header:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 24px;
    right: 0;
    z-index: 20;
    background: #fefefe url(%%awwbanner%%) repeat center left / auto 100%;
}

/* SR header area
--------------------------------------------------------------------------------*/
#sr-header-area {
    background-color: white;
    border: 0;
    border-top: 1px solid #a7dbd8;
    border-bottom: 1px solid #fff;
    font-size: 10.5px;
    font-family: Calibri,Segoe,"Segoe UI",Verdana,Arial,sans-serif;
}

.res #RESShortcutsEditContainer {
    width: 75px;
    top: 2px;
}

.res #RESShortcutsEditContainer,
.res #RESShortcutsSort,
.res #RESShortcutsRight,
.res #RESShortcutsLeft,
.res #RESShortcutsAdd,
.res #RESShortcutsTrash,
#sr-more-link {
    background-color: transparent;
    color: rgba(0,0,0,0.35);
}

#sr-header-area * {
    color: rgba(0,0,0,0.35);
    transition: color 200ms;
}
#sr-header-area:hover * {
    color: rgba(0,0,0,0.85);
}

#sr-header-area .sr-list {
    margin-right: 55px;
}

.res #RESShortcutsViewport {
    margin-right: 70px;
}

.res #RESShortcutsSort {
    margin-right: 10px;
}

/* Pagename
--------------------------------------------------------------------------------*/
.pagename {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: auto;
    box-sizing: border-box;
    font-size: 28px;
    color: #898CFF;
    z-index: 25;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 0;
    margin-top: 0;
    width: 205px;
}

.pagename a {
    font-size: 0;
}

.pagename a {
    background: url(%%awwlogo%%) no-repeat;
    background-size: contain;
    background-position: center center;
    width: 195px;
    height: 105px;
    display: inline-block;
    margin: 0 auto;
}
.pagename a:active {
    margin-top: 1px;
}

/* Tab menu
--------------------------------------------------------------------------------*/

.tabmenu {
    display: block;
    padding-left: 12px;
    background: #A7DBD8;
}

#header-bottom-left .tabmenu {
    /* use absolute and bottom padding on #header-bottom-left in 
       case tabmenu doesn't exist (like in submit page) and we
       have to put in fake tabmenu */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    padding-left: 90px;
    margin: 0;
    height: 24px;
    display: -webkit-flex;
    display: flex;
}

/* tabmenu items */
.tabmenu li {
    display: inline-block;
    position: relative;
    height: 24px;
}

.tabmenu li a {
    background: transparent;
    display: inline-block;
    line-height: 24px;
    padding: 0 8px;
    box-sizing: border-box;
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 17px;
    color: white;
}

.tabmenu li.selected a {
    color: white;
    border: 0;
    background-color: #C3E2E1;
    position: relative;
}

.tabmenu li:not(.selected):hover {
    background: rgba(0,0,0,0.06);
}

.res-tabmenu-button.res-toggle-filterline-visibility a {
    font-size: 12px;
}

@media (max-width: 1470px) {
    body.res.mod-toolbox #header .tabmenu li {
        margin: 0;
    }
}

@media (max-width: 1390px) {
    body.res.mod-toolbox #header .tabmenu li a {
        padding: 0 7px;
    }

    body.res.mod-toolbox #header .tabmenu li a[href$='/ads/'] {
        display: none;
    }
}

/* tab menu decorations
--------------------------------------------------------------------------------*/

/* stripe under tab menu */
#header:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 24px;
    width: 100%;
    left: 0;
    background: #F2F5DF;
}

/* fake tabmenu */
#header-bottom-left:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
    font-size: 17px;
    color: white;
    line-height: 24px;
    padding-left: 100px;
    opacity: 0.85;
    background: #A7DBD8;
}

/* SR DROP CHOICES
--------------------------------------------------------------------------------*/

.dropdown.srdrop .selected {
    background-image: none;
    padding-right: 0;
}

#sr-header-area .drop-choices.srdrop {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 500;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
    min-width: 160px;
    border: 0;
    margin: 0;
    top: 0 !important;
    left: 0 !important;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-transform: translateX(-320px);
    -moz-transform: translateX(-320px);
    transform: translateX(-320px);
    transition: .2s -webkit-transform ease-in-out;
    -webkit-transition: .2s -webkit-transform ease-in-out;
}

#sr-header-area .drop-choices.srdrop.inuse {
    display: block;
}

#sr-header-area .drop-choices.srdrop.inuse {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

#sr-header-area .drop-choices.srdrop:before {
    content: 'My Subreddits';
    display: block;
    height: 18px;
    line-height: 18px;
    box-sizing: border-box;
    padding: 0 5px;
    color: rgba(0,0,0,0.6);
}

.drop-choices.srdrop .choice.bottom-option {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-top: 1px solid #d6d6d6;
    margin-top: 5px;
}

.drop-choices.srdrop a.choice {
    padding: 2px 5px 1px 5px;
}

/* RES SR DROP CHOICES
--------------------------------------------------------------------------------*/
.res #srList {
    border: 0;
    box-shadow: 0px 3px 6px 0 rgba(0,0,0,0.4);
    background: white;
}

.res #srList tr {
    border: 0;
}

.res #srList td {
    border-bottom: 1px solid hsla(177,42%,85%,1);
}

.res #srList thead td {
    background: rgba(0,0,0,0.05);
    border-bottom: 0;
}

.res #srList a {
    color: #474747;
}

/* header bottom right (user area)
--------------------------------------------------------------------------------*/

#header-bottom-right {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 4px 0 6px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    /* RES can really do some annoying shit sometimes */
    top: initial !important;
    bottom: 0 !important;
    z-index: 20;
    border-radius: 0 !important;
}

#header-bottom-right, .res #userbarToggle {
    background-color: #a7dbd8;
    border-color: transparent;
    /* color: rgba(28,17,13,0.8); */
    color: white;
}

#header-bottom-right .user {
    height: 24px;
}

#header-bottom-right a, .user {
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
    font-size: 12px;
    /* text-shadow: 0 0 2px rgba(0,0,0,0.2); */
    /* color: rgba(28,17,13,0.8); */
    color: white;
}

#header-bottom-right a.imageInfoButton {
    color: #666;
    margin-right: 5px;
}

#header-bottom-right .separator {
    color: rgba(255,255,255,0.6);
    display: none !important;
}

/* beta vial */
.beta-hint {
    top: 0;
    position: absolute;
    right: 100%;
    display: block;
    width: 24px;
    height: 24px;
}
.beta-hint a {
    top: 0;
    right: 0;
    margin: 0;
    background: 0;
    height: 24px;
    line-height: 24px;
    width: 24px;
    text-indent: 0;
    text-align: center;
    font-size: 0 !important;
}
.beta-hint a:before {
    content: 'β';
    font-size: 12px;
    font-weight: bold;
}

/* userbar toggle */
.res #userbarToggle {
    min-height: 24px !important;
    border-radius: 0 !important;
    left: 3px!important;
    line-height: 24px !important;
}

#userbarToggle.userbarShow {
    left: -10px !important;
}

.res #userbarToggle:hover {
    background: rgba(0,0,0,0.06);
}

/* logout */
.logout {
    margin-left: 5px;
}

/* flat list
--------------------------------------------------------------------------------*/
#header-bottom-right > ul.flat-list {
    height: 24px;
}

#header-bottom-right > ul.flat-list li {
    height: 24px;
    width: 24px;
    display: inline-block;
    position: relative;
}

#header-bottom-right > ul.flat-list li > a {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    height: 24px;
    width: 24px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}

#header-bottom-right > ul.flat-list li > a:hover {
    background: rgba(0,0,0,0.06);
}

/* User profile link
--------------------------------------------------------------------------------*/
.user > a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 2px
}
.user > a:hover {
    background: rgba(0,0,0,0.06);
}

/* RES account switcher
--------------------------------------------------------------------------------*/

.res #RESAccountSwitcherIcon:after {
    content: '';
    display: block;
    background: url(%%spritesheet%%) -8px -56px;
    /*background-position: -367px -56px; -- black icon version */
    width: 24px;
    height: 23px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}

.res #RESAccountSwitcherIcon {
    width: 24px;
    height: 24px;
    background-image: none !important;
    margin-left: 0;
}
.res #RESAccountSwitcherIcon:hover {
    background: rgba(0,0,0,0.06);
}

/* mail icon
--------------------------------------------------------------------------------*/

#message:after, #message.nohavemail:after, #message.havemail:after,
#inbox:after, #inbox.nohavemail:after, #inbox.havemail:after,
#mail:after, #mail.nohavemail:after, #mail.havemail:after {
    content: '';
    display: block;
    position: absolute;
    background: url(%%spritesheet%%) -8px -31px;
    /* background-position: -367px -31px; -- black icon version */
    width: 25px;
    height: 14px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#message.havemail:after,
#mail.havemail:after {
    background-position: -8px -31px;
}

#inbox {
    margin-left: 1px !important;
}
#inbox:after {
    height: 24px !important;
}
#inbox.nohavemail:after {
    background-position: -8px -201px;
}
#inbox.havemail:after {
    background-position: -41px -201px;
}

#message, #message.nohavemail, #message.havemail,
#inbox, #inbox.nohavemail, #inbox.havemail,
#mail, #mail.nohavemail, #mail.havemail {
    background-image: none !important;
    position: relative;
    height: 24px;
    min-width: 24px;
    top: 0;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 0 !important;
}

#message.havemail,
#inbox.havemail,
#mail.havemail {
    background: #FF7500;
}

#message:not(.havemail):hover,
#inbox:not(.havemail):hover,
#mail:not(.havemail):hover {
    background: rgba(0,0,0,0.06);
}

.message-count,
.inbox-count {
    border-radius: 0;
    margin-left: 0;
    padding: 0px 3px;
    padding-right: 5px;
    background-color: #FF7500;
    font-weight: bold;
}
.inbox-count {
    margin-right: 5px;
}

#chat {
    margin-left: 5px;
    margin-right: 5px;
}

#chat-count.message-count {
    height: 18px;
    line-height: 18px;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: -3px;
    padding: 0 4px 0 4px;
}

/* Mod mail + New Modmail icon
--------------------------------------------------------------------------------*/

#modmail, #modmail.havemail, #modmail.nohavemail,
#new_modmail, #new_modmail.havemail, #new_modmail.nohavemail {
    font-size: 0 !important;
    background-image: none !important;
    height: 24px;
    width: 24px;
    top: 0;
    margin-bottom: 0;
}
#modmail.havemail, #new_modmail.havemail {
    background: #FF7500;
}
#modmail:after, #new_modmail:after {
    content: '';
    display: block;
    background: url(%%spritesheet%%) -9px -116px;
    /* background-position: -367px -116px; -- black icon version */
    height: 23px;
    width: 24px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}
#modmail.havemail:after {
    background-position: -9px -116px;
}

#modmail:not(.havemail):hover, #new_modmail:not(.havemail):hover {
    background: rgba(0,0,0,0.06);
}

#new_modmail:after {
    background-position: -9px -176px;
}
#new_modmail.havemail:after {
    background-position: -9px -176px;
}

/* Preferences
--------------------------------------------------------------------------------*/

.pref-lang:after {
    content: '';
    display: block;
    background: url(%%spritesheet%%) -8px -146px;
    /* background-position: -367px -146px; -- black icon version */
    width: 24px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}
.pref-lang {
    font-size: 0 !important;
}

/* RES settings gear icon
--------------------------------------------------------------------------------*/
.res #RESSettingsButton, .res #openRESPrefs {
    height: 24px;
    line-height: 24px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 2px;
}

.res .gearIcon:after {
    text-shadow: none;
    /* color: rgba(28,17,13,0.8); */
    color: white;
}

.res #openRESPrefs:hover {
    background: rgba(0,0,0,0.06);
}


/* Account switcher dropdown
--------------------------------------------------------------------------------*/

.res #RESAccountSwitcherIconOverlay {
    display: none !important;
}

.res #RESAccountSwitcherDropdown {
    margin-top: 6px !important;
    border: 0;
    border-bottom: 2px solid #97b8d4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background: white;
}

#RESAccountSwitcherDropdown.RESDropdownList li {
    border: 0;
    color: rgba(0,0,0,0.6);
}
#RESAccountSwitcherDropdown.RESDropdownList li:hover {
    color: rgba(0,0,0,1);
    background: transparent;
}

/* Mail and RES settings hover dropdowns
--------------------------------------------------------------------------------*/
.res .RESHover.RESHoverDropdownList.RESDropdownList {
    margin: -2px 0 0 0 !important;
    border: 0;
    border-bottom: 2px solid #97b8d4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background: white;
}
.res .RESHover.RESHoverDropdownList.RESDropdownList li,
.RESDropdownList a, .RESDropdownList a:visited {
    border: 0;
    color: rgba(0,0,0,0.6);
    background: transparent !important;
}
.res .RESHover.RESHoverDropdownList.RESDropdownList li:hover,
.RESDropdownList a:hover, .RESDropdownList a:visited:hover {
    color: rgba(0,0,0,1) !important;
    background: transparent !important;
}