
/* site table
--------------------------------------------------------------------------------*/

.listing-page #siteTable {
    box-shadow: 0 1px 5px rgba(0,0,0,0.16);
    padding-bottom: 20px;
    background: white;
}
.listing-page #siteTable #siteTable { /* NER */
    margin: 0;
    box-shadow: none;
    padding: 0;
}

.content .spacer {
    margin: 0;
}


/* RES - Never Ending Reddit
--------------------------------------------------------------------------------*/
.res .NERPageMarker {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgba(0,0,0,0.085);
    color: #737373;
    font-size: 13px;
}

.res .NERPageMarker .gearIcon:after {
    color: #ccc;
}

.res #progressIndicator {
    margin: 0 0 0 10px;
    border-radius: 0;
    border-color: rgba(0,0,0,0.085);
    box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}

/* time filter menuarea (links from: ...)
--------------------------------------------------------------------------------*/
.content[role="main"] > .menuarea:not(.modtools) {
    margin: 10px 0 0 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.16);
    background: white;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.085);
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0.1px;
}

/* Link
--------------------------------------------------------------------------------*/

.link {
    align-items: stretch;
    padding: 0 0 5px 4px;
    border: 0;
    border-top: 1px solid transparent;
    background: white;
    margin: 0;
}

/* normal separator border */
.link:not(:first-child) {
    border-top: 2px dashed rgba(0,0,0,0.085);
}

.link .entry, .link .midcol, .link .rank {
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.listing-page .link .entry {
    padding-left: 5px;
}
.comments-page .link .entry {
    padding-left: 10px;
}

/* link rank
--------------------------------------------------------------------------------*/

.link .rank {
    text-align: center;
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
    font-size: 16px;
    min-width: 18.25px;
    color: rgba(0,0,0,0.18);
    margin-top: 15px;
}

/* link score
--------------------------------------------------------------------------------*/
.link .score {
    font-family: Calibri,Segoe,"Segoe UI",Verdana,Arial,sans-serif;
    font-size: 15px;
    letter-spacing: 0.3px;
}

/* link midcol & thumbnail
--------------------------------------------------------------------------------*/

.link .midcol {
    background: transparent;
    min-width: 41px;
    margin-left: 4px;
}

.link .thumbnail {
    margin: 10px 8px 5px 8px;
}

/* Link tagline and title
--------------------------------------------------------------------------------*/

.link .tagline, .link .title {
    /* font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif; */
    margin-left: 0;
}

.link .title {
    margin-bottom: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.link .tagline {
    /* font-size: small; */
}

/* clear tagline */
.link .tagline:after {
    content: '';
    display: table;
    clear: left;
}

/* Usertext md
--------------------------------------------------------------------------------*/
.link .usertext-body .md {
    background: transparent;
    border: none;
    padding: 5px 0;
}

/* Last clicked
--------------------------------------------------------------------------------*/
.link.last-clicked, .link.last-clicked:not(:first-child):not(.RES-keyNav-activeThing) {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.link.last-clicked:first-child {
    border-top: 1px solid transparent;
}

/* link expando margin
--------------------------------------------------------------------------------*/

.link .expando-button {
    margin: 2px 9px -14px 1px !important;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
}

/* Listing page - expando open
--------------------------------------------------------------------------------*/

.listing-page .link .entry > .madeVisible,
.listing-page .link .entry > .usertext,
.listing-page .link .entry > .expando {
    margin-top: 1px;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
    background: #f4f8ff;
}

.listing-page .link .entry > .expando-button.collapsed ~ .madeVisible,
.listing-page .link .entry > .expando-button.collapsed ~ .usertext,
.listing-page .link .entry > .expando-button.collapsed ~ .expando {
    display: none
}

.res .RESImagePlaceholder {
    width: 100% !important;
}

/* Listing page - buttons bottom stripe when expando open 
--------------------------------------------------------------------------------*/

.listing-page .link .entry .expando-button.expanded ~ .buttons:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background: #EAEEF5;
    z-index: 5;
}

/* Nav Buttons
--------------------------------------------------------------------------------*/
#siteTable > .nav-buttons {
    border-top: 1px solid #E2E2E2;
    padding-top: 20px;
    position: relative;
}

.nav-buttons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
}

.nav-buttons:before {
    content: 'View more';
    display: block;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    min-width: 150px;
}

.nextprev, .search-result-group footer .nav-buttons > * {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextprev a,
.search-result-group footer .nav-buttons > * a {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.2px;
    padding: 0 22px;
    line-height: 30px;
    height: 30px;
    border-radius: 15px;
    background: transparent;
    outline: 0;
}

.nextprev a[rel*="next"] {
    color: #f28aa8;
    border: 1px solid #f28aa8;
}
.nextprev a[rel*="next"]:hover,
.nextprev a[rel*="next"]:focus {
    background-color: #f28aa8;
    color: white;
}

.nextprev a[rel*="prev"] {
    color: #4db5e0;
    border: 1px solid #4db5e0;
}
.nextprev a[rel*="prev"]:hover,
.nextprev a[rel*="prev"]:focus {
    background-color: #4db5e0;
    color: white;
}

.nextprev .separator {
    font-size: 0;
    height: 26px;
    width: 1px;
    margin: 0 8px;
    background: rgba(0,0,0,0.1);
    display: inline-block;
    border: 0;
}

/* no results
--------------------------------------------------------------------------------*/
#noresults {
    font-size: 0;
    width: 450px;
    height: 70px;
    background-image: url(%%nothing-here%%);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 80px auto;
}

/* ad link
--------------------------------------------------------------------------------*/

.link.promotedlink {
    padding: 0;
    border-top: 0;
}

/* flair
--------------------------------------------------------------------------------*/

/* Flair used by AutoModerator */
.flair-a, .flair-f, .flair-x {
    display: none;
}