

/* link entry buttons
--------------------------------------------------------------------------------*/

.link .entry .buttons {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
    font-size: 11px;
    margin-left: -4px;
    margin-top: 1px;
    position: relative;
}
.link .entry .expando-button ~ .buttons {
    margin-left: 29px;
}

.link .entry .buttons li {
    margin-left: 0;
    margin-right: 4px;
    padding: 0 2px;
    order: 0;
}

.link .entry .buttons li,
.link .entry .buttons li > a,
.link .entry .buttons li > form,
.link .entry .buttons li > form > *:not(.error) a {
    min-height: 18px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

/* source button
--------------------------------------------------------------------------------*/
.link:not(.self) .entry .buttons li.viewSource {
    display: none;
}

/* link mod actions
--------------------------------------------------------------------------------*/

.link.reported .entry .buttons li.reported-stamp,
.link.reported .entry .buttons span.big-mod-buttons,
.link.reported .entry .buttons ul.report-reasons {
    order: 1;
}

.link.reported .entry .buttons li.reported-stamp {
    min-height: initial;
    margin-left: 5px;
}

.link.reported .entry .buttons span.big-mod-buttons {
    margin-bottom: -5px;
}

/* unignore report button on its own */
.link .entry .buttons > .pretty-button {
    margin: 0;
    margin-left: 5px
}

/* report reasons */
.link.reported .entry .buttons ul.report-reasons {
    border-radius: 0;
    border: 0;
    border: 1px solid #e1b000;
    padding: 0 5px;
    box-sizing: content-box;
}

/* hide icons except comments if post is reported */
.link.reported .entry .buttons li a:not(.comments):not([title*="Show"]):before {
    display: none !important;
}

/* report button thank you
--------------------------------------------------------------------------------*/

li.report-button {
    position: relative;
}

li.report-button:before, li.report-button a:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
li.report-button:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #c8ccd0;
    margin-bottom: 1px;
}
li.report-button a:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid white;
    margin-bottom: 3px;
    z-index: 5;
}

li.report-button:after {
    content: 'Thanks for helping out the mods!';
    display: block;
    position: absolute;
    background: black;
    color: white;
    bottom: 100%;
    margin-bottom: 6px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 2px 5px;
    background: white;
    color: rgba(230,69,72,0.8);
    border: 1px solid #c8ccd0;
}

li.report-button:before, li.report-button a:after, li.report-button:after {
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms;
    pointer-events: none;
}
li.report-button:hover:before, li.report-button:hover a:after, li.report-button:hover:after {
    visibility: visible;
    opacity: 1;
}
