
/* Thumbnail
--------------------------------------------------------------------------------*/

.thumbnail.self, .thumbnail.default {
    background: url(%%spritesheet%%) no-repeat;
}

.thumbnail.self {
    background-position: -77px -19px;
}

.stickied .thumbnail.self {
    background-position: -77px -72px;
}

.thumbnail.default {
    border: 2px solid #9edef5;
    height: 55px;
    box-sizing: border-box;
    background-position: -76px -125px;
}

/* Link listing
--------------------------------------------------------------------------------*/

.link {
    padding: 22px 10px 20px 5px;
    border: 1px solid transparent;
    background: white;
    margin: 0;
}

/* normal separator border */
.link:not(:first-child) {
    border-top: 1px solid #eee;
}

.link .thumbnail {
    margin-left: 5px;
    margin-right: 15px;
}

.link .title {
    margin-bottom: 5px;
}

/* Last clicked
--------------------------------------------------------------------------------*/
.link.last-clicked, .link.last-clicked:not(:first-child):not(.RES-keyNav-activeThing) {
    border: 1px dashed #BCDDFF;
}
.link.last-clicked + .clearleft + .link {
    border-top: 0;
}

/* space between last stickied link and following non-stickied link
--------------------------------------------------------------------------------*/
.thing.stickied + .clearleft + .thing:not(.stickied) {
    margin-top: 20px
}

.thing.stickied + .clearleft + .thing:not(.stickied):before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    border-top: 1px solid #eee;
}

/* Active Element
--------------------------------------------------------------------------------*/

/* remove RES default bg color on md */
.res .link .RES-keyNav-activeElement, .res .link .RES-keyNav-activeElement .md-container {
    background-color: transparent !important;
}
/*.res .link.RES-keyNav-activeThing {
    border: 1px solid #BCDDFF;
}*/
.res .link.RES-keyNav-activeThing:after {
    content: '';
    display: block;
    position: absolute;
    right: -1px;
    top: 10px;
    bottom: 10px;
    width: 2px;
    background: #bcddff;
}

/* Expando Buttons
--------------------------------------------------------------------------------*/

.expando-button {
    float: left;
	margin: 2px 5px 0px 0px !important;
	width: 23px !important;
	height: 23px !important;
	background-color: transparent !important;
	background-image: url(%%spritesheet%%) !important;
	cursor: pointer;
}

.expando-button.collapsed,
.res .expando-button.collapsed {
    background-position: -42px -26px;
}

.expando-button.collapsed:hover,
.res .expando-button.collapsed:hover {
    background-position: -42px -49px;
}

.expando-button.expanded,
.res .expando-button.expanded {
    background-position: -42px -72px;
}

.expando-button.expanded:hover,
.res .expando-button.expanded:hover {
    background-position: -42px -95px;
}

/* Nav Buttons
--------------------------------------------------------------------------------*/
#siteTable > .nav-buttons {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.nav-buttons:before {
    content: 'View more';
    display: block;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}

.nextprev {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextprev a {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.2px;
    padding: 0 22px;
    line-height: 30px;
    height: 30px;
    border-radius: 15px;
    background: transparent;
    outline: 0;
}

.nextprev a[rel*="next"] {
    color: #f28aa8;
    border: 1px solid #f28aa8;
}
.nextprev a[rel*="next"]:hover,
.nextprev a[rel*="next"]:focus {
    background-color: #f28aa8;
    color: white;
}

.nextprev a[rel*="prev"] {
    color: #4db5e0;
    border: 1px solid #4db5e0;
}
.nextprev a[rel*="prev"]:hover,
.nextprev a[rel*="prev"]:focus {
    background-color: #4db5e0;
    color: white;
}

.nextprev .separator {
    font-size: 0;
    height: 26px;
    width: 1px;
    margin: 0 8px;
    background: rgba(0,0,0,0.1);
    display: inline-block;
    border: 0;
}