/* reset
--------------------------------------------------------------------------------*/
body.res.res-nightmode,
.res.res-nightmode .side,
.res.res-nightmode .side .spacer,
.res.res-nightmode .side .sidecontentbox,
.res.res-nightmode .side .usertext,
.res.res-nightmode .side .titlebox,
.res.res-nightmode .side .usertext .md,
.res.res-nightmode .side .usertext .md ul,
.res.res-nightmode .side .usertext .md ol,
.res.res-nightmode .side .md h6,
.res.res-nightmode .side .spacer .titlebox .redditname,
.res.res-nightmode .sidebox,
.res.res-nightmode #sr-header-area,
.res.res-nightmode #sr-more-link,
.res.res-nightmode body .content,
.res.res-nightmode .linkinfo .date,
.res.res-nightmode .linkinfo,
.res.res-nightmode #header-img-a:before {
    background: #21262D;
}

.res.res-nightmode.listing-page #siteTable,
.res.res-nightmode .link,
.res.res-nightmode .RES-keyNav-activeElement,
.res.res-nightmode .RES-keyNav-activeElement .md-container,
.res.res-nightmode .listing-page .link .entry .buttons,
.res.res-nightmode .listing-page .link .midcol,
.res.res-nightmode .commentarea > .panestack-title,
.res.res-nightmode .commentarea > .menuarea,
.res.res-nightmode .commentarea > .usertext,
.res.res-nightmode .gold-accent.comment-visits-box,
.res.res-nightmode.submit-page .roundfield,
.res.res-nightmode .content[role="main"] > .menuarea:not(.modtools),
.res.res-nightmode .content>.spacer>#siteTable_organic.organic-listing,
.res.res-nightmode.combined-search-page #previoussearch,
.res.res-nightmode.combined-search-page .search-result-group,
.res.res-nightmode ul.res-search-tabs,
.res.res-nightmode.combined-search-page #search {
    /* background: #303842 !important; */
    background: #272E35 !important;
}

.res.res-nightmode .submit-link .morelink a:before {
    background: #3F4754 !important;
}
.res.res-nightmode #progressIndicator,
.res.res-nightmode .hover-bubble,
.res.res-nightmode .side .side-message,
.res.res-nightmode #editShortcutDialog,
.res.res-nightmode #RESShortcutsAddFormContainer,
.res.res-nightmode .RESDialogSmall,
.res.res-nightmode .RESHover.RESHoverDropdownList.RESDropdownList {
    background: #3F4754 !important;
    border-color: #28303B;
}
.res.res-nightmode .hover-bubble:before { border-left-color: #28303B; }
.res.res-nightmode .hover-bubble:after  { border-left-color: #3F4754; }
.res.res-nightmode .RESHoverInfoCard:before { border-right-color: #28303B; }
.res.res-nightmode .RESHoverInfoCard:after  { border-right-color: #3F4754; }

.res.res-nightmode .nav-buttons:before,
.res.res-nightmode .submit-link .morelink a:before,
.res.res-nightmode .titlebox > h1:before,
.res.res-nightmode side .md > blockquote:first-of-type p,
.res.res-nightmode .RESHover.RESHoverDropdownList.RESDropdownList li:hover,
.res.res-nightmode .RESDropdownList a:hover,
.res.res-nightmode .RESDropdownList a:visited:hover {
    color: white !important;
}

.res.res-nightmode .side #searchexpando p a,
.res.res-nightmode .side .leavemoderator,
.res.res-nightmode .subscribers .word:before,
.res.res-nightmode .users-online .word:before,
.res.res-nightmode .commentarea .menuarea .toggle a,
.res.res-nightmode .commentarea .menuarea .help-hoverable,
.res.res-nightmode #REScommentNavToggle span:before,
.res.res-nightmode .commentingAs,
.res.res-nightmode .linkinfo .score,
.res.res-nightmode.submit-page ul.tabmenu.formtab li.selected a,
.res.res-nightmode.submit-page .roundfield > .title,
.res.res-nightmode.submit-page #new-link-image-input > div,
.res.res-nightmode.submit-page .content > h1:after,
.res.res-nightmode .RESDropdownList li,
.res.res-nightmode .RESDropdownList li a,
.res.res-nightmode .RESHover.RESHoverDropdownList.RESDropdownList li,
.res.res-nightmode .RESDropdownList a,
.res.res-nightmode .RESDropdownList a:visited {
    color: rgb(204, 204, 204);
}

.res.res-nightmode .nextprev a,
.res.res-nightmode div#RESShortcutsEditContainer,
.res.res-nightmode div#RESShortcutsSort,
.res.res-nightmode div#RESShortcutsRight,
.res.res-nightmode div#RESShortcutsLeft,
.res.res-nightmode div#RESShortcutsAdd,
.res.res-nightmode div#RESShortcutsTrash,
.res.res-nightmode .tabmenu li a,
.res.res-nightmode .tabmenu li.selected a,
.res.res-nightmode #header-bottom-right,
.res.res-nightmode #srList,
.res.res-nightmode #searchexpando,
.res.res-nightmode .icon-menu a,
.res.res-nightmode .usertext.grayed .usertext-body,
.res.res-nightmode .hover-bubble.multi-selector label:hover,
.res.res-nightmode .titlebox form.toggle:not(.res-sr-style-toggle),
.res.res-nightmode .titlebox .tagline {
    background-color: transparent;
}

.res.res-nightmode .side .md>blockquote:first-of-type:before,
.res.res-nightmode .side .md>blockquote:first-of-type:after,
.res.res-nightmode .side .md h4+table:before,
.res.res-nightmode .side .md h3 + ol > li:after,
.res.res-nightmode .side .md h4+table tr td:before,
.res.res-nightmode .side .md h4+table tr td:after,
.res.res-nightmode .linkinfo:after {
    display: none !important;
}

.res.res-nightmode .subscribers:before,
.res.res-nightmode .titlebox .leavemoderator,
.res.res-nightmode .side .leavecontributor-button,
.res.res-nightmode .side .md h3 + ol > li,
.res.res-nightmode .side .md h4,
.res.res-nightmode .side .md table td,
.res.res-nightmode .side .md h6,
.res.res-nightmode .sidecontentbox .collapse-button,
.res.res-nightmode .linkinfo .shortlink input,
.res.res-nightmode .side .md h3+ol+ul {
    background: rgba(255,255,255,0.02) !important;
    opacity: 1;
    border: 0;
}

/* header stuff
--------------------------------------------------------------------------------*/
.res.res-nightmode #header:after {
    opacity: 0.4;
}
.res.res-nightmode #header-img-a:after {
    border-color: #2a313b;
}

.res.res-nightmode .pagename a {
    background-image: url(%%spritesheet%%);
    background-size: initial;
    background-position: -154px -58px;
    height: 60px;
    margin-top: 25px;
}



/* tabmenu
--------------------------------------------------------------------------------*/
.res.res-nightmode .tabmenu li a,
.res.res-nightmode .tabmenu li.selected a,
.res.res-nightmode #header-bottom-left:before {
    color: #2A313B;
    font-weight: bold;
}
.res.res-nightmode .tabmenu,
.res.res-nightmode #header-bottom-left:before,
.res.res-nightmode #header-img-a:after {
    background-color: #99c6c3;
}

/* header bottom right
--------------------------------------------------------------------------------*/
.res.res-nightmode #header-bottom-right a,
.res.res-nightmode #header-bottom-right,
.res.res-nightmode #userbarToggle,
.res.res-nightmode .user,
.res.res-nightmode .gearIcon:after {
    color: #2A313B;
}
    
.res.res-nightmode .pref-lang:after {
    background-position: -367px -146px;
}
.res.res-nightmode #modmail.nohavemail:after {
    background-position: -367px -116px;
}
.res.res-nightmode #mail.nohavemail:after {
    background-position: -367px -31px;
}
.res.res-nightmode #RESAccountSwitcherIcon:after {
    background-position: -367px -56px;
}

/* side element
--------------------------------------------------------------------------------*/
.res.res-nightmode .side {
    box-shadow: none;
}

.res.res-nightmode .titlebox > h1 a:before {
    background-position: -154px -58px;
}

/* sr header area
--------------------------------------------------------------------------------*/
.res.res-nightmode #sr-header-area {
    border-bottom-color: transparent;
}

.res.res-nightmode #sr-header-area * {
    color: rgba(255,255,255,0.15);
    transition: color 200ms;
}

.res.res-nightmode #sr-header-area:hover * {
    color: #a7dbd8;
}

/* footer
--------------------------------------------------------------------------------*/
.res.res-nightmode .footer .col li:not(.title) a,
.res.res-nightmode a {
    color: #548dc6;
}
.res.res-nightmode .footer .col li.title {
    color: rgba(255,255,255,0.55);
}
.res.res-nightmode .bottommenu,
.res.res-nightmode .bottommenu a {
    color: rgba(255,255,255,0.25);
}


/* link and commments
--------------------------------------------------------------------------------*/

/* remove borders from top commentarea stuff */
.res.res-nightmode.comments-page .link,
.res.res-nightmode .commentarea > .panestack-title,
.res.res-nightmode .commentarea > .menuarea,
.res.res-nightmode .commentarea > .usertext,
.res.res-nightmode .gold-accent.comment-visits-box,
.res.res-nightmode .commentarea > .sitetable > .comment {
    border: 0;
}

/* active thing arrow and right line */
.res.res-nightmode.listing-page .link.RES-keyNav-activeThing:before,
.res.res-nightmode .link.RES-keyNav-activeThing:after {
    opacity: 0.5;
}

.res.res-nightmode .comment.RES-keyNav-activeThing>.entry.RES-keyNav-activeElement .md-container {
    background: transparent !important;
}

/* sitetable*/
.res.res-nightmode .commentarea > .sitetable {
    border-top: 1px solid rgba(255,255,255,0.1);
}

/* link title */
.res-nightmode:not(.res-nightMode-coloredLinks) .thing:not(.stickied) .title:visited,
.res-nightmode:not(.res-nightMode-coloredLinks) .thing.visited:not(.stickied) .title,
.res-nightmode:not(.res-nightMode-coloredLinks).combined-search-page .search-result a:visited,
.res-nightmode:not(.res-nightMode-coloredLinks).combined-search-page .search-result a:visited > mark,
.res-nightmode:not(.res-nightMode-coloredLinks) .thing .title {
    color: #ABBDCE !important;
}

/* top comment left border */
.res.res-nightmode .commentarea > .sitetable > .comment:before,
.res.res-nightmode .comment-permalink-page.comments-page .commentarea > .infobar:before {
    opacity: 0.3;
}

/* thing colors for md, tagline, buttons, and stuff*/
.res.res-nightmode .domain,
.res.res-nightmode .domain a,
.res.res-nightmode .tagline,
.res.res-nightmode .link .entry .buttons li.first a,
.res.res-nightmode .entry .buttons li a,
.res.res-nightmode .comment .entry .buttons li.reply-button a:before,
.res.res-nightmode .comment .entry .buttons li a[onclick*="return reply"]:before,
.res.res-nightmode .content .sitetable .thing .md,
.res.res-nightmode .midcol .score.unvoted {
    color: #B5B6B7;
    font-weight: normal;
}

.res.res-nightmode .link .entry .buttons li a.comments:before {
    opacity: 1;
}

.res.res-nightmode.listing-page .link .thumbnail {
    border-color: transparent !important
}

.res.res-nightmode .link:not(:first-child),
.res.res-nightmode #siteTable > .nav-buttons {
    border-top-color: rgba(0,0,0,0.1);
}
.res.res-nightmode .nextprev a[rel*="next"] {
    color: #f28aa8;
}
.res.res-nightmode .nextprev a[rel*="next"]:hover {
    background-color: #f28aa8;
    color: white;
}
.res.res-nightmode .nextprev a[rel*="prev"] {
    color: #4db5e0;
}
.res.res-nightmode .nextprev a[rel*="prev"]:hover {
    background-color: #4db5e0;
    color: white;
}

body.res.res-nightmode.mod-toolbox .tb-general-button,
body.res.res-nightmode.mod-toolbox li a.tb-general-button,
body.res.res-nightmode.mod-toolbox .tb-bracket-button,
.res.res-nightmode #REScommentSubToggle {
    background: rgba(0,0,0,0.1);
    border: 0;
    padding: 2px 3px;
}

.res.res-nightmode .commentarea .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment
{
    background-color: #2B323A !important;
    border: 0 !important;
}

.res.res-nightmode .commentarea .comment,
.res.res-nightmode .commentarea .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.res.res-nightmode .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment
{
    background-color: #272e35 !important;
    border: 0 !important;
}

.res.mod-toolbox.res-nightmode .comment.spam > .child {
    background: transparent;
}
.res.res-nightmode .thing.spam {
    background: #303842 !important;
}
.res.res-nightmode .thing.spam > .entry {
    border: 2px solid #ffd6d9!important;
    background: rgba(255,214,217,0.1);
}

.res.res-nightmode #REScommentNavToggle div {
    background: #2A313B;
    border-color: #3E4451;
}
.res.res-nightmode #REScommentNavToggle:hover span {
    background: #3E4451;
    border-color: #3E4451;
}

.res.res-nightmode .link .score.likes {
    color: #FF8B60;
}
.res.res-nightmode .link .score.dislikes {
    color: #9494FF;
}

.res.res-nightmode li.report-button:after {
    background: #3F4754;
    color: white;
    border-color: #28303B;
}

.res.res-nightmode li.report-button a:after {
    border-top-color: #3F4754;
}

.res.res-nightmode li.report-button:before {
    border-top-color: #28303B;
}

.res.res-nightmode .gold-accent.comment-visits-box .title {
    background: transparent;
    color: #fbefb9;
    font-weight: normal;
}

.res.res-nightmode.listing-page .link .entry>.madeVisible,
.res.res-nightmode.listing-page .link .entry>.usertext,
.res.res-nightmode.listing-page .link .entry>.expando {
    background: rgba(255,255,255,0.02);
}

.res.res-nightmode.listing-page .link .entry .expando-button.expanded ~ .buttons:after {
    background: rgba(234, 238, 245, 0.05);
}

/* usertext
--------------------------------------------------------------------------------*/
.res.res-nightmode .usertext-edit textarea {
    background-color: #3E424D;
    border: 0;
    background-image: none !important;
}

.res.res-nightmode .markdownEditor,
.res.res-nightmode .markdownEditor .edit-btn:not(.btn-macro) {
    background-color: transparent;
    border: 0;
}

.res.res-nightmode .usertext button.cancel {
    background-color: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.15);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
    color: rgba(255,255,255,0.5);
}

.res.res-nightmode .usertext button[type=submit] {
    border-color: rgba(42,186,192,0.4);
    background-color: rgba(66, 198, 191, 0.45);
    box-shadow: inset 0 1px 0 rgba(74,221,217,0.15);
    color: rgba(255,255,255,0.75);
}

.res.res-nightmode .thing .md hr {
    border-color: rgba(255,255,255,0.15);
}

.res.res-nightmode .md th {
    color: inherit;
}

.res.res-nightmode .usertext .help-toggle:hover,
.res.res-nightmode .usertext a.reddiquette:hover,
.res.res-nightmode .RESBigEditorPop:hover {
    background: rgba(255,255,255,0.05);
}

.res.res-nightmode .markdownEditor .edit-btn:not(.btn-macro):hover {
    background-color: rgba(255,255,255,0.04);
}

.res.res-nightmode .RESBigEditorPop {
    color: #548dc6;
}

/* spay and neuter box
--------------------------------------------------------------------------------*/
.res.res-nightmode .side .md h6 {
    margin: 10px;
}

/* side hr
--------------------------------------------------------------------------------*/
.res.res-nightmode .side .md hr,
.res.res-nightmode .side .titlebox,
.res.res-nightmode .sidecontentbox {
    border-color: rgba(255,255,255,0.1);
    background-color: transparent;
    border-top-style: dashed;
    border-top-width: 2px;
}

/* rules list
--------------------------------------------------------------------------------*/
.res.res-nightmode .side .md h3 + ol > li > p:first-child:before {
    opacity: 0.1;
}

.res.res-nightmode .side .md h3+ol>li:before {
    color: white;
}

/* morelinks
--------------------------------------------------------------------------------*/

.res.res-nightmode .morelink a {
    color: white;
}

.res.res-nightmode .submit-link .morelink,
.res.res-nightmode .submit-text .morelink,
.res.res-nightmode .create .morelink {
    background: transparent;
    border: 1px solid #b2d8d7;
}
.res.res-nightmode .submit-link .morelink a,
.res.res-nightmode .submit-text .morelink a,
.res.res-nightmode .create .morelink a {
    color: #b2d8d7;
}

.res.res-nightmode .side .md h5+ul li:nth-of-type(1) a,
.res.res-nightmode .side .md h5+ul li:nth-of-type(2) a {
    background: transparent;
    border: 1px solid #ddddce;
    color: #ddddce;
}

.res.res-nightmode .side .md h5+ul li:nth-of-type(3) a {
    background: transparent;
    border: 1px solid #f3bd92;
    color: #f3bd92;
}

.res.res-nightmode .submit-link .morelink,
.res.res-nightmode .submit-text .morelink,
.res.res-nightmode .create .morelink,
.res.res-nightmode .side .md h5+ul li,
.res.res-nightmode #search input[type=text] {
    opacity: 0.75;
}

.res.res-nightmode .submit-link .morelink:after,
.res.res-nightmode .side .md h5+ul li a:after {
    display: none;
}

/* searchbox
--------------------------------------------------------------------------------*/

.res.res-nightmode #search input[type=text] {
    background: transparent;
    border: 1px solid white;
    margin-top: 3px;
    color: white;
}

/* style toggle
--------------------------------------------------------------------------------*/

.res.res-nightmode .res-sr-style-toggle label,
.res.res-nightmode .flairtoggle label,
.res.res-nightmode .flairtoggle label:after,
.res.res-nightmode .side #flair_enabled ~ label:before {
    color: #BDBEBF;
}
.res.res-nightmode .res-sr-style-toggle label:before,
.res.res-nightmode .side #flair_enabled ~ label::before {
    background: rgba(255,255,255,0.05);
}

/* sub buttons
--------------------------------------------------------------------------------*/

.res.res-nightmode .titlebox .fancy-toggle-button.subscribe-button .option.active,
.res.res-nightmode .titlebox .res-fancy-toggle-button,
.res.res-nightmode .titlebox .res-fancy-toggle-button.RESshortcut,
.res.res-nightmode .titlebox .res-fancy-toggle-button.RESDashboardToggle,
.res.res-nightmode .side .md h3 {
    border: 0;
    opacity: 0.7;
    background: rgba(255,255,255,0.03) !important;
}

/* linkinfo box
--------------------------------------------------------------------------------*/

.res.res-nightmode .linkinfo {
    border-top: 2px dashed rgba(255,255,255,0.1);
    padding-top: 5px;
    margin-top: 20px;
}

/* submit page
--------------------------------------------------------------------------------*/

.res.res-nightmode.submit-page .roundfield {
    border: 0;
}

.res.res-nightmode.submit-page ul.tabmenu.formtab li.selected a {
    border-bottom: 2px solid rgb(204,204,204);
}


.res.res-nightmode.submit-page #title-field:before,
.res.res-nightmode.submit-page #url-field:before,
.res.res-nightmode.submit-page .submit_text .md:before,
.res.res-nightmode.submit-page #title-field .title:before,
.res.res-nightmode.submit-page #url-field .title:before,
.res.res-nightmode.submit-page .submit_text ul {
    background: #303842 !important;
    color: rgb(204,204,204);
}

.res.res-nightmode.submit-page .roundfield textarea,
.res.res-nightmode.submit-page .roundfield input[type=text],
.res.res-nightmode.submit-page .roundfield input[type=url],
.res.res-nightmode.submit-page .roundfield .usertext-edit,
.res.res-nightmode.submit-page .markdownEditor-wrapper {
    background: #3E424D !important;
    border: 0;
}

.res.res-nightmode.submit-page .side .md h5+ul:before {
    background: rgba(255,255,255,0.04);
    color: rgba(255,255,255,0.7);
}


/* search page
--------------------------------------------------------------------------------*/

.res.res-nightmode.combined-search-page #search input[type=text] {
    background: #3E424D !important;
    border: 1px solid rgba(255,255,255,0.1) !important;
    color: white !important;
}

.res.res-nightmode.combined-search-page #previoussearch,
.res.res-nightmode.combined-search-page .search-result-group,
.res.res-nightmode ul.res-search-tabs,
.res.res-nightmode.combined-search-page #search,
.res.res-nightmode.combined-search-page .content[role="main"]>.search-result-listing>.search-result-group {
    border: 0;
}
.res-nightmode .combined-search-page .search-result-group .search-result-group-header {
    border-color: rgba(255,255,255,0.1);
}

.res.res-nightmode.combined-search-page #search .c-btn-primary.c-btn {
    background: rgba(255,255,255,0.1);
    top: 14px;
}
.res.res-nightmode.combined-search-page .search-icon:before {
    border-color: rgba(255,255,255,0.6);
}
.res.res-nightmode.combined-search-page .search-icon:after {
    background-color: rgba(255,255,255,0.6);
}

/* editor buttons
--------------------------------------------------------------------------------*/

.res.res-nightmode .markdownEditor .edit-btn {
    background-image: none;
    text-indent: 0;
    font-size: 0;
    text-align: center;
    position: relative;
}

.res.res-nightmode .markdownEditor .edit-btn:not(.btn-macro) {
    border-right: 1px solid rgba(84, 141, 198, 0.15);
    margin: 0;
    padding: 0 2px;
}

.res.res-nightmode .markdownEditor .edit-btn.btn-bold:before {
    content: 'B';
    font-size: 15px;
    color: #548dc6;
    font-weight: bold;
}
.res.res-nightmode .markdownEditor .edit-btn.btn-italic:before {
    content: 'I';
    font-size: 15px;
    color: #548dc6;
    font-style: italic;

}
.res.res-nightmode .markdownEditor .edit-btn.btn-strike:before {
    content: 'S';
    font-size: 15px;
    color: #548dc6;
    text-decoration: line-through;

}
.res.res-nightmode .markdownEditor .edit-btn.btn-superscript:before {
    content: 'A';
    font-size: 15px;
    color: #548dc6;
}
.res.res-nightmode .markdownEditor .edit-btn.btn-superscript:after {
    content: '2';
    font-size: 10px;
    color: #548dc6;
    position: relative;
    top: -5px;
}

.res.res-nightmode .markdownEditor .edit-btn.btn-quote:before {
    content: '" "';
    font-size: 13px;
    color: #548dc6;
    position: relative;
    top: 4px;
}
.res.res-nightmode .markdownEditor .edit-btn.btn-code:before {
    content: '<>';
    font-size: 15px;
    color: #548dc6;
    font-family: Arial, serif;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    top: 0.5px;
}
.res.res-nightmode .markdownEditor .edit-btn.btn-list-unordered:after,
.res.res-nightmode .markdownEditor .edit-btn.btn-list-ordered:after {
    content: '';
    display: inline-block;
    height: 7px;
    width: 15px;
    border: 1px solid #548dc6;
    border-left: 0;
    border-right: 0;
    position: absolute;
    top:  5px;
    right: 4px;

    font-size: 11px;
    line-height: 7px;
    text-indent: 17px;
    font-weight: bold;
    color: #548dc6;
    direction: rtl;
}
.res.res-nightmode .markdownEditor .edit-btn.btn-list-unordered:before,
.res.res-nightmode .markdownEditor .edit-btn.btn-list-ordered:before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 15px;
    background: #548dc6;
    position: absolute;
    top: 9px;
    right: 4px;
}

.res.res-nightmode .markdownEditor .edit-btn.btn-list-ordered:after {
    content: '1';
}
.res.res-nightmode .markdownEditor .edit-btn.btn-list-unordered:after {
    content: '•';
}


.res.res-nightmode .markdownEditor .edit-btn.btn-table:after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 17px;
    border: 1px solid #548dc6;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    margin: auto;
}
.res.res-nightmode .markdownEditor .edit-btn.btn-table:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    position: absolute;
    background: #548dc6;
    top: 4px;
    left: 0;
    right: 0;
    margin: auto;
}
.res.res-nightmode .markdownEditor .edit-btn.btn-table span:after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 1px;
    position: absolute;
    background: #548dc6;
    top: 9px;
    left: 0;
    right: 0;
    margin: auto;
}

.res.res-nightmode .markdownEditor .edit-btn.btn-link:before,
.res.res-nightmode .markdownEditor .edit-btn.btn-link:after {
    content: '';
    display: block;
    width: 9px;
    height: 6px;
    border-radius: 5px;
    border: 2px solid #548dc6;
    position: absolute;
    top: 5px;
}
.res.res-nightmode .markdownEditor .edit-btn.btn-link:before {
    right: 50%;
    margin-right: -3px;
}
.res.res-nightmode .markdownEditor .edit-btn.btn-link:after {
    left: 50%;
    margin-left: -3px;
}