
/* misc md
--------------------------------------------------------------------------------*/

.side .md hr {
    border: 0;
    height: 0;
    border-top: 2px dashed #e2e2e2;
    margin: 10px 0 10px 0;
}


/* quick rules box
--------------------------------------------------------------------------------*/

.side .md h3 {
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

.side .md h3 + ol {
    list-style-type: none;
    counter-reset: siderules;
    padding-left: 30px;
    padding-right: 10px;
}

.side .md h3 + ol > li {
    position: relative;
    font-size: 11.5px;
    padding: 10px 10px 10px 30px;
    box-sizing: border-box;
    border: 1px solid #cfdaf0;
    background-color: #fdfdfd;
}

/* li number */
.side .md h3 + ol > li:before {
    counter-increment: siderules;
    content: counter(siderules);
    position: absolute;
    text-align: center;
    width: 26px;
    height: 26px;
    line-height: 26px;
    right: 100%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-right: -13px;
    z-index: 3;
    border-radius: 50%;
    background: white;
    background: #CFDAF0;
    background: transparent;
    color: white;
    text-shadow: 0 0 6px rgba(0,0,0,0.5);
}

/* li number paw */
.side .md h3 + ol > li > p:first-child:before {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    bottom: 0;
    right: 100%;
    margin: auto 0;
    background-image: url(%%spritesheet%%);
    background-position: -215px -178px;
    width: 56px;
    height: 56px;
    pointer-events: none;
    transform: rotateZ(20deg) scale(0.65);
}

/* li background */
/*.side .md h3 + ol > li:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.25;
    background: repeating-linear-gradient(45deg,#F0DDFF,#F0DDFF 3px,#fff 3px,#fff 6px);
}*/

/* li text */
.side .md h3 + ol li p {
    position: relative;
    z-index: 2;
    font-size: 12px !important;
}

/* margin between */
.side .md h3 + ol > li + li {
    margin-top: 20px;
}

/* read full rules link */
.side .md h3 + ol + ul {
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    list-style-type: none;
    margin-top: 15px;
    padding-left: 0;
    text-align: center;
}

/* related subs table
--------------------------------------------------------------------------------*/

.side .md h4, .side .md h4 strong {
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: normal !important;
    font-size: 18px;
    text-align: center;
}

.side .md table td {
    border: 1px solid white;
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
}

.side .md h4 + table {
    position: relative;
    margin: 10px;
}

.side .md h4 + table thead {
    display: none;
}

.side .md h4 + table td {
    background: transparent;
    position: relative;
    z-index: 5;
}

.side .md h4 + table:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    background: repeating-linear-gradient(45deg,#CCF9E7,#CCF9E7 3px,#fff 3px,#fff 6px);
}

.side .md h4 + table tr:not(:last-of-type) td:after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
}
.side .md h4 + table tr td:last-of-type:before {
    content: '';
    position: absolute;
    width: 2px;
    left: -1px;
    top: 0;
    bottom: 0;
    background: white;
}

.side .md h4 + table a {
    color: #647d72;
}

/* spray and neuter box
--------------------------------------------------------------------------------*/
.side .md h6 {
    padding: 15px 20px;
    font-weight: normal;
    text-decoration: initial;
    font-size: 12px;
    line-height: 20px;
    margin: 15px 0px -12px -1px;
    border-top: 1px solid rgba(0,0,0,0.06);
    border-left: 5px solid #CCE9FF;
    background: #F4F8FF;
}