
/* Thing
--------------------------------------------------------------------------------*/
.thing, .entry {
    overflow: visible !important;
}

.thing, body:not(.listing-page) .entry {
    position: relative;
}

.thing {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Thing title color
--------------------------------------------------------------------------------*/
.thing .title:visited, .thing.visited .title {
    color: #423d56;
}

/* Entry fill
--------------------------------------------------------------------------------*/
.entry {
    float: left;
    max-width: none;
    width: auto;
    flex-grow: 1;
    box-sizing: border-box;
}

/* link entry */
.link .entry {
    flex-basis: calc(100% - 185px);
    max-width: calc(100% - 184px);
}

.res .link .entry {
    flex-basis: calc(100% - 184px);
    max-width: calc(100% - 183px);
}

.comments-page .link .entry {
    flex-basis: calc(100% - 136px);
    max-width: calc(100% - 135px);
}

.comments-page .menuarea.modtools ~ #siteTable .link .entry {
    flex-basis: calc(100% - 151px);
    max-width: calc(100% - 150px);
}

/* comment entry */
.comment .entry {
    flex-basis: calc(100% - 40px);
}

/* comment entry with queue tools */
.comments-page.mod-toolbox .menuarea.modtools ~ .commentarea > .sitetable .thing.comment .entry {
    flex-basis: calc(100% - 50px);
}

/* child - ensure full width on own row */
.child, .subject {
    width: 100%;
    flex-basis: 100%;
}

/* Thumbnail - ones with images are always 70px by 70px
--------------------------------------------------------------------------------*/
.thumbnail,
.search-result.has-thumbnail > .thumbnail {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border: 3px solid #958a86;
}

.thumbnail img,
.search-result.has-thumbnail > .thumbnail img {
    height: 70px;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.thumbnail.self, .thumbnail.default,
.search-result.has-thumbnail > .thumbnail.self,
.search-result.has-thumbnail > .thumbnail.default {
    background: url(%%spritesheet%%) no-repeat;
    border-color: transparent;
    height: 50px;
}

.thumbnail.self,
.search-result.has-thumbnail > .thumbnail.self {
    background-position: -74px -19px;
}

.stickied .thumbnail.self {
    background-position: -74px -72px;
}

.thumbnail.default,
.search-result.has-thumbnail > .thumbnail.default {
    border: 3px solid #9edef5;
    height: 70px;
    background-position: -77px -130px;
}

/* Special colors
--------------------------------------------------------------------------------*/
.thing.spam {
    background: #ffd6d9 !important;
}

.comment.spam > .child, .message.spam > .child {
    background: transparent;
    padding-bottom: 5px;
    padding-right: 2px
}

/* Vote arrows
--------------------------------------------------------------------------------*/

.arrow, .arrow.up, .arrow.upmod, .arrow.down, .arrow.downmod {
    background-image: url(%%spritesheet%%);
    height: 15px;
    width: 15px;
}

.arrow.down {
    background-position: -144px -272px;
}
.arrow.up {
    background-position: -177px -272px;
}
.arrow.downmod {
    background-position: -210px -272px;
}
.arrow.upmod {
    background-position: -243px -272px;
}

/* Active Element
--------------------------------------------------------------------------------*/
.res .RES-keyNav-activeElement, .res .RES-keyNav-activeElement .md-container {
    background-color: transparent !important;
}

.res .link.RES-keyNav-activeThing:after,
.res .comment.RES-keyNav-activeThing > .entry:after {
    content: '';
    display: block;
    position: absolute;
    right: -1px;
    top: 10px;
    bottom: 10px;
    width: 2px;
    background: #B2D8D7;
}
.res .comment.RES-keyNav-activeThing > .entry:after {
    right: 0;
}

/* active element triangle - listing page only */
.res.listing-page .link.RES-keyNav-activeThing:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 8px solid #B2D8D7;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}