.md > p:first-child > a[href="#stickytitle"]:before {
    content: attr(title);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 20px;
    right: 0;
    background: white;
    color: rgba(0,0,0,0.8);
}

.thing, .entry {
    position: relative;
    overflow: visible !important;
}

.thing {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.entry {
    float: left;
    width: 100%;
    max-width: calc(100% - 153px);
}

commentarea .entry {
    max-width: calc(100% - 40px);
}

.child {
    width: 100%;
}