
/* titlebox top border
--------------------------------------------------------------------------------*/

.sponsorshipbox {
    margin-bottom: 15px;
}

.titlebox {
    border-top: 2px dashed #e2e2e2;
    padding-top: 10px;
    margin-top: 20px;
}

/* submit text button - moderators
--------------------------------------------------------------------------------*/

.submit-text {
}

.submit-text .morelink {
    font-size: 15px;
    font-weight: normal;
}
.submit-text .morelink:hover a {
    color: inherit;
}

/* titlebox toggles
--------------------------------------------------------------------------------*/

.titlebox form.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

form.toggle.flairtoggle {
    display: none;
}

.titlebox > .tagline {
    text-align: center;
}

/* remove icons */
.titlebox form.leavecontributor-button:before,
.titlebox .leavemoderator:before, .moderator.toggle .main:before {
    display: none;
}

.titlebox form.toggle:not(.res-sr-style-toggle),
.titlebox .leavemoderator {
    margin-left: 20px;
    margin-right: 20px;
    background: repeating-linear-gradient(45deg,#DFF4FE,#DFF4FE 3px,#fff 3px,#fff 6px);
    padding: 10px;
    margin-top: 10px;
    color: rgba(0,0,0,0.9);
    font-size: 13px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/* subreddit style toggle
--------------------------------------------------------------------------------*/

.res .res-sr-style-toggle label {
    color: rgba(0,0,0,0.35);
}

.res .res-sr-style-toggle input[type=checkbox] {
    display: none;
}

.res .res-sr-style-toggle label:before {
    content: '✓';
    display: inline-block;
    font-weight: bold;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 3px;
    margin-right: 5px;
}

/* subscribers & users online
--------------------------------------------------------------------------------*/

.subscribers, .users-online {
    display: inline-block;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    margin: 15px 0 10px 0;
}

.subscribers {
    float: left;
}

.users-online:before {
    display: none;
}

.subscribers .word, .users-online .word {
    font-size: 0;
}

.subscribers .word:before  { content: 'Subscribers'; }
.users-online .word:before { content: 'Online'; }

.subscribers .word:before, .users-online .word:before {
    font-size: 14px;
    color: rgba(0,0,0,0.55);
}

.subscribers .number, .users-online .number {
    font-weight: bold;
    font-size: 16px;
    display: block;
}


/* subscribe buttons
--------------------------------------------------------------------------------*/

.titlebox .fancy-toggle-button.subscribe-button {
    display: flex;
    justify-content: center;
}

.res .subButtons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* margin top/bottom */
.titlebox .fancy-toggle-button.subscribe-button, .res .titlebox .res-fancy-toggle-button {
    margin-top: 10px;
    margin-bottom: 15px;
}

/* subscribe button no-RES */
body:not(.res) .titlebox .fancy-toggle-button.subscribe-button .option.active {
    width: 100%;
    max-width: 150px;
}

/* subscribe and RES sub button */
.titlebox .fancy-toggle-button.subscribe-button .option.active,
.res .titlebox .res-fancy-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    border: 0;
    border-radius: 0;
    background: transparent;
    color: #333;
    height: 38px;
    min-width: 82px;
    box-sizing: border-box;
    outline: 0;
}

/* colors */
.titlebox .fancy-toggle-button.subscribe-button .option.active {
    color: #F28AA8;
    border: 3px solid #F28AA8;
}
.titlebox .fancy-toggle-button.subscribe-button .option.active:focus,
.titlebox .fancy-toggle-button.subscribe-button .option.active:hover {
    color: white;
    background: #F28AA8;
}

.res .titlebox .res-fancy-toggle-button.RESshortcut {
    color: #9DD320;
    border: 3px solid #9DD320;
}
.res .titlebox .res-fancy-toggle-button.RESshortcut:focus,
.res .titlebox .res-fancy-toggle-button.RESshortcut:hover {
    color: white;
    background: #9DD320;
}

.res .titlebox .res-fancy-toggle-button.RESDashboardToggle {
    color: #4DB5E0;
    border: 3px solid #4DB5E0;
}
.res .titlebox .res-fancy-toggle-button.RESDashboardToggle:focus,
.res .titlebox .res-fancy-toggle-button.RESDashboardToggle:hover {
    color: white;
    background: #4DB5E0;
}

/* subscribe buttons box
--------------------------------------------------------------------------------*/

/* count box */
.subscribers:before {
    content: '';
    display: block;
    position: absolute;
    background: #eef2f9;
    height: 75px;
    left: 20px;
    right: 20px;
    margin-top: -20px;
    opacity: 0.7;
    /* border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);*/
    background: repeating-linear-gradient(45deg,#DFF4FE,#DFF4FE 3px,#fff 3px,#fff 6px);
}

.subscribers .word, .subscribers .number, .users-online .word, .users-online .number {
    position: relative;
    z-index: 5;
}

/* count box separator */
.users-online:before {
    content: '';
    display: block;
    position: absolute;
    height: 35px;
    width: 1px;
    background: rgba(0,0,0,0.06);
}

/* count box space */
.users-online {
    margin-bottom: 21px;
    position: relative;
}

/* flair tagline box
--------------------------------------------------------------------------------*/

.titlebox > .tagline {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    margin: 0;
    position: relative;
    background: repeating-linear-gradient(45deg,#DFF4FE,#DFF4FE 3px,#fff 3px,#fff 6px);
    margin: 10px  20px 20px 20px;
}

/* bottom "border" before md
--------------------------------------------------------------------------------*/

.side .md hr:first-of-type {
    margin-top: 0;
    border-style: dashed;
    border-width: 2px;
}