
/* titlebox
--------------------------------------------------------------------------------*/

.sponsorshipbox {
    margin-bottom: 15px;
}

/* top border */
.titlebox:before {
    content: '';
    display: block;
    border-top: 1px solid rgba(0,0,0,0.08);
    margin: 0 20px 20px 20px;
}

/* titlebox */
.titlebox {
    padding-top: 10px;
    margin-top: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* order */
.titlebox > * {
    order: 5;
}
.titlebox > h1 {
    order: 0;
}
.titlebox > .subscribers, .titlebox > .users-online {
    order: 1;
}
.titlebox > .subButtons, .titlebox > .subscribe-button {
    order: 2;
}
.titlebox > .leavemoderator, .titlebox > .leavecontributor-button {
    order: 6;
}

/* submit text button - moderators
--------------------------------------------------------------------------------*/

.submit-text .morelink {
    font-size: 15px;
    font-weight: normal;
}
.submit-text .morelink:hover a {
    color: inherit;
}

/* subreddit style toggle
--------------------------------------------------------------------------------*/

.titlebox form.toggle, .leavemoderator.res-sr-style-toggle {
    text-align: center;
    display: block;
}
.res .res-sr-style-toggle label {
    color: rgba(0,0,0,0.35);
}

.res .res-sr-style-toggle input[type=checkbox] {
    display: none;
}

.res .res-sr-style-toggle label:before {
    content: '✓';
    display: inline-block;
    font-weight: bold;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 3px;
    margin-right: 5px;
}

/* subscribers & users online & subscribe buttons
--------------------------------------------------------------------------------*/

/* subscribe stuff */
.titlebox > .subscribers, .titlebox > .users-online {
    display: block;
    width: 100%;
    padding: 0;
    color: #333;
    box-sizing: border-box;
    font-family: "Segoe UI Light","Segoe UI",Segoe,Roboto,"Helvetica Neue",Helvetica,"Calibri Light",Calibri,Arial,sans-serif;
    font-size: 15px;
    text-align: center;
}
.titlebox > .subscribers {
    margin-top: 0;
    font-size: 17px;
}
.titlebox > .users-online {
    margin-bottom: 10px;
    margin-top: 2px;
    font-style: italic;
}
.users-online:before { display: none; }

.fancy-toggle-button.subscribe-button, .subButtons {
    margin: 0;
    padding: 8px 0 20px 0;
    text-align: center;
}

.subButtons {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}

.res .fancy-toggle-button.subscribe-button {
    padding: 0;
}

.fancy-toggle-button.subscribe-button .active,
.res .res-fancy-toggle-button {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    color: white;
    padding: 0 8px;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}
.fancy-toggle-button.subscribe-button .active.add {
    width: 200px;
    margin: 0 20px 5px 20px;
    height: 26px;
    line-height: 26px;
}

.res .res-fancy-toggle-button {
    margin-left: 5px;
}

.RESshortcutside.remove, .RESDashboardToggle.remove, .fancy-toggle-button .remove {
    background: #b44 !important;
}

.RESshortcutside.add, .RESDashboardToggle.add, .fancy-toggle-button .add {
    background: #79B54F !important;
}

.res span.multi-count {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    border: 0;
    border-radius: 0;
    padding: 0 7px;
    margin: 0;
    font-size: 10px;
    color: white;
    background: rgb(255, 117, 0);
}

/* mod toggles
-------------------------------------------------------------------------------- */
.leavemoderator, form.toggle.leavecontributor-button {
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 10px;
    margin-top: 20px;
    padding-left: 24px;
    position: relative;
    border: 1px solid rgba(0,0,0,0.06);
    background: rgba(0,0,0,0.025);
    text-align: left !important;
    border-radius: 3px 3px 0 0;
}

.leavemoderator + form.toggle.leavecontributor-button {
    border-top: 0;
    border-radius: 0 0 3px 3px;
    margin-top: 0;
}

.leavemoderator:before, form.toggle.leavecontributor-button:before {
    position: absolute;
    margin: 0;
    top: 4px;
    left: 3px;
}

.titlebox > .leavemoderator {
    display: none;
}

form.toggle.leavecontributor-button .option.main {
    font-size: 0;
}
form.toggle.leavecontributor-button .option.main:before,
form.toggle.leavecontributor-button .option.main:after,
form.toggle.leavecontributor-button .option.main > * {
    font-size: 10px;
}
form.toggle.leavecontributor-button .option.main:before {
    content: 'you are an approved submitter (';
}
form.toggle.leavecontributor-button .option.main:after {
    content: ')';
}

/* flair toggle
-------------------------------------------------------------------------------- */
.titlebox form.flairtoggle, .res .titlebox form.flairtoggle {
    text-align: left;
    margin: 0;
    margin-top: 0;
    padding-left: 3px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.titlebox form.flairtoggle input {
    position: relative;
    bottom: -3px;
    right: -2px
}
.titlebox > .tagline {
    margin: 0;
    padding: 6px 0 6px 22px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.flairtoggle label {
    font-size: 0;
}

.flairtoggle label:after, .sr_style_toggle label {
    content: 'Show my flair:';
    color: rgba(0,0,0,0.35);
    font-size: 10px;
}


.side #flair_enabled ~ label:before,
.side #sr_style_enabled ~ label:before {
    content: '✓';
    display: inline-block;
    font-weight: bold;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 10px;
    color: rgba(0,0,0,0.35);
}
.side #flair_enabled:not(:checked) ~ label:before,
.side #sr_style_enabled:not(:checked) ~ label:before {
    color: transparent;
}
.side #flair_enabled,
.side #sr_style_enabled {
    display: none;
}