.wiki-page .wiki-page-content {
    margin-right: 15px;
}

.wiki-page .wikititle {
    display: none;
}

.wiki-page .pageactions {
    margin-left: 15px;
    margin-top: 5px;
}

/* Index (rules) page
--------------------------------------------------------------------------------*/

.wiki-page-index.wiki-page .wiki.md h1 {
    text-align: center;
}

#wiki_aww_rules + p, #wiki_aww_rules + p + p, #wiki_aww_rules + p + p + p {
    text-align: center;
}

.wiki-page-index.wiki-page .wiki-page-content .wiki.md {
    max-width: 890px;
    margin: 0 auto;
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
    font-size: 120%
}

/* hide real rule header (only used for linking) */
.wiki-page-index.wiki-page .wiki.md h4 {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

/* visible rule header + contents */
.wiki-page-index.wiki-page .wiki.md h4 + p,
.wiki-page-index.wiki-page .wiki.md h4 + p + ul {
    background: white;
    padding: 10px 20px;
}

/* visible rule header */
.wiki-page-index.wiki-page .wiki.md h4 + p {
    margin-bottom: 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.18);
    margin-top: 20px;
    font-style: normal;
    background: #FFBDBD;
    text-shadow: 0 1px 4px rgba(0,0,0,0.15);
}
.wiki-page-index.wiki-page .wiki.md h4 + p,
.wiki-page-index.wiki-page .wiki.md h4 + p a {
    color: white;
}

/* rule contents */
.wiki-page-index.wiki-page .wiki.md h4 + p + ul {
    border-top: 0;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 40px;
    font-size: 110%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.14);
}
.wiki-page-index.wiki-page .wiki.md h4 + p + ul li p {
    line-height: 1.7em;
    color: rgba(0,0,0,0.85);
}

/* Index (rules) page - TOC
--------------------------------------------------------------------------------*/

.wiki-page-index.wiki-page .wiki-page-content .wiki>.toc ul,
.wiki-page-index.wiki-page .wiki-page-content .wiki>.toc ul ul {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    max-width: none;
    box-sizing:border-box;
}

.wiki-page-index.wiki-page .wiki-page-content .wiki>.toc>ul {
    border: 0;
    background: hsla(195,20%,95%,1);
    padding: 11px 22px 10px 15px;
    float: none;
}
.wiki-page-index.wiki-page .wiki-page-content .wiki>.toc ul ul {
    padding-left:0;
    border: 0;
}

.wiki-page-index.wiki-page .wiki-page-content .wiki>.toc>ul>li:first-of-type {
    display: none;
}

.wiki-page-index.wiki-page .wiki-page-content .wiki>.toc>ul li {
    line-height: 27px;
    height: 27px;
}

.wiki-page-index.wiki-page a[href="#wiki_aww_rules"] {
    font-size: 0;
    color: rgba(0,0,0,0.6);
    margin-right: 10px;
}
.wiki-page-index.wiki-page a[href="#wiki_aww_rules"]:before {
    font-size: 14px;
    content: 'Rules quick jump:';
    text-transform: uppercase;
    display: inline-block;
}

.wiki-page-index.wiki-page [class^=wiki_rule_]:not(:last-of-type):after {
    content: '|';
    color: rgba(0,0,0,0.2);
    padding: 0 5px;
}